/**
*Front Page Hero
*/
.front-image{
    position:absolute;
}
.fullheight{
    height:92.4vh;
    h1{
        color: #F8F9FA;
        padding-top:4.8rem;
    }
    h2{
        padding-top:0.6rem;
        color: #F8F9FA;
    }

}