// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here

@import "usps";
@import "portfolio";
@import "hero-front-page";
@import "usps-front-page";
@import "projects-front-page";
@import "contact-front-page";
@import "knowledge-front-page";
@import "contact-form7";


body{
    background-color:$primary;
}
h2.entry-title a, time, li a{
    color:#343A40;
}
.btn{
    border-radius: 0;
}
.wrapper{
    padding: 30px 10px; 
}
.navbar-brand, a.nav-link{
    color:#F8F9FA;
}
span.navbar-toggler-icon{
	color: #F8F9FA!important;
}
.left-bar{
    border-left:3px solid $secondary;
}
