/**
*Front Page USPs
*/
#endorsment{
    background-color:$primary;
    height:70vh;
}
#frontpage-usps {
    text-align: center;
    padding-top:6rem;
	.col-md-4 {
		.usps {
			background-color: $primary;
            padding: 1rem;
			h2 {
                font-size: 1.5rem;
                color: #eee;
                border-bottom:1px solid white;
            }
            p{
                color: #eee;
            }
        }
    }
    .col-md-4:nth-child(2) {
        margin-top:16%;
    }
    .col-md-4:nth-child(5){
        margin-left:33.3%;
    }
    @media screen and (max-width: 1200px) {
        .col-md-4{
            display: block;
        }
        .col-md-4:nth-child(4),
        .col-md-4:nth-child(5){
            display: none;
        }
        .col-md-4:nth-child(3),
        .col-md-4:nth-child(1) {
        	margin-top: 16%;
        }
    }
    @media screen and (max-width: 700px){
        .col-md-4:nth-child(1) {
        	margin-top:0;
        }
    }
}