/**
*USP Styles
*/

#wrapper-usps{
    text-align: center;
    .col-md{
        .usps{
            background-color:#eee;
            padding:1rem;
            .fa{
                margin:0.75rem 0;
                color:#343A40;
            }
            h1 {
                font-size: 1.5rem;
            }
        }
    }
}
